;Developer : Akshintala Jithendra
;Date : June 1 2022
;email : a.jithendra@gmail.com


[general]
source_file=/home/jithendra/Downloads/src_test_data.xlsx
target_file=/home/jithendra/Downloads/tgt_test_data.xlsx
new_insert_data_file=/home/jithendra/Downloads/new_insert_data.xlsx
update_data_file=/home/jithendra/Downloads/update_data.xlsx
key_columns=ID,Code
date_format=mmm d, yyyy
